.cards {
  list-style: none; /* <-- removes the dots */
  padding: 0;
  margin: 28px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr; /* mobile */
}

@media (min-width: 1024px) {
  /* desktop */
  .cards {
    grid-template-columns: repeat(3, 1.6fr);
  }
}
